<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1 class="animated fadeInUp">Agro Republic</h1>
        <h2 class="animated fadeInUp">这里是公司口号</h2>
        <br>
        <!-- rounded btn -->
        <a href="#" class="btn btn-circle animated fadeInUp">
            <i class="fa fa-angle-double-down fa-align-center"></i>
        </a>

        <!-- for testing scrolling -->
        <environment names="Development">
            @*<a class="btn btn-dark btn-lg" id="enable" hidden="hidden">enable scrolling</a>
                <a class="btn btn-dark btn-lg" id="disable" hidden="hidden">disable scrolling</a>*@
        </environment>
        <!-- for testing scrolling -->
    </div>
</header>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="row text-center">
                <h1 id="services-h1">关于农业共和国</h1>
                <p class="service-p">示例语句 示例语句 示例语句</p>
                <p class="service-p">示例语句 示例语句 示例语句</p>
                <p class="service-p">示例语句 示例语句 示例语句</p>
            </div><!-- /.row -->
        </div>

        <div class="row text-center service-items">
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                <a href="#" class="fh5co-feature to-animate">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                    </span>
                    <h3 class="service-item-h3">
                        <strong>（服务名称）</strong>
                    </h3>
                    <p class="service-item-p">示例语句 示例语句 示例语句</p>
                    <p class="service-item-p">示例语句 示例语句 示例语句</p>
                    <p class="service-item-p">示例语句 示例语句 示例语句</p>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                <a href="#" class="fh5co-feature to-animate">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                    </span>
                    <h3 class="service-item-h3">
                        <strong>（服务名称）</strong>
                    </h3>
                    <p class="service-item-p">示例语句 示例语句 示例语句</p>
                    <p class="service-item-p">示例语句 示例语句 示例语句</p>
                    <p class="service-item-p">示例语句 示例语句 示例语句</p>
                </a>
            </div>

            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                <a href="#" class="fh5co-feature to-animate">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                    </span>
                    <h3 class="service-item-h3">
                        <strong>（服务名称）</strong>
                    </h3>
                    <p class="service-item-p">示例语句 示例语句 示例语句</p>
                    <p class="service-item-p">示例语句 示例语句 示例语句</p>
                    <p class="service-item-p">示例语句 示例语句 示例语句</p>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                <a href="#" class="fh5co-feature to-animate">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                    </span>
                    <h3 class="service-item-h3">
                        <strong>（服务名称）</strong>
                    </h3>
                    <p class="service-item-p">示例语句 示例语句 示例语句</p>
                    <p class="service-item-p">示例语句 示例语句 示例语句</p>
                    <p class="service-item-p">示例语句 示例语句 示例语句</p>
                </a>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="fh5co-spacer fh5co-spacer-sm"></div>
        </div>
    </div>
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>（小文案 + 合理搭配图片）</h1>
    </div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>精选产品</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="~/img/Main/portfolio-1.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="~/img/Main/portfolio-2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="~/img/Main/portfolio-3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="~/img/Main/portfolio-4.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>这是一处功能区域（成长时间线）</h3>
                <a href="#" class="btn btn-lg btn-light">这是按钮</a>
                <a href="#" class="btn btn-lg btn-dark">这是按钮</a>
            </div>
        </div>
    </div>
</aside>

<!-- Map -->
<section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.cn/maps/embed?pb=!1m18!1m12!1m3!1d3754.0640860036046!2d99.96330231495344!3d19.79487998667954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDQ3JzQxLjYiTiA5OcKwNTcnNTUuOCJF!5e0!3m2!1szh-CN!2scn!4v1500229028140"></iframe>
    <br />
    @*<small>
        <a href="http://www.google.cn/maps/embed?pb=!1m18!1m12!1m3!1d3754.0640860036046!2d99.96330231495344!3d19.79487998667954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDQ3JzQxLjYiTiA5OcKwNTcnNTUuOCJF!5e0!3m2!1szh-CN!2scn!4v1500229130071"></a>
    </small>*@
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h3>
                    <strong>Agro Republic</strong>
                </h3>
                <h4><strong>（这里是正式办公地点地址以及其他信息）</strong></h4>
                <h4><strong>（这里是正式办公地点地址以及其他信息）</strong></h4>

                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-phone fa-fw"></i><h4>(123)456-7890</h4>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">这是@公司邮箱.com</a>
                    </li>
                </ul>
                <br>

                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Agro republic 2017</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>


