@section Styles{
    <link href="~/css/navbar-products.css" rel="stylesheet" />  <!-- for navbar -->
    <link href="~/css/stylish-portfolio-products.css" rel="stylesheet" />
}

<!-- Navigation bar -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" id="scale-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                菜单 <i class="fa fa-bars"></i>
            </button>

            <!-- logo -->
            @*<a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">Agro</span> Republic
                </a>*@

            <!-- logo -->
            <a class="navbar-brand page-scroll" href="#page-top">
                <img class="img-responsive" id="navbar-logo" src="~/img/Welcome/logo-white.jpg" width="30" height="20" alt="公司商标" />
                <span class="light">Agro</span> Republic
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" asp-controller="Home" asp-action="Main">回到主页</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">购买产品</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1 id="main-header-h1" class="">Agro Republic</h1>
        <h2 id="main-header-h2" class="">这是菠萝页面</h2>
        <br>
    </div>
</header>

