/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

    .text-vertical-center h1 {
        margin: 0;
        padding: 0;
        font-size: 4.5em;
        font-weight: 700;
    }

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

    .btn-dark:hover,
    .btn-dark:focus,
    .btn-dark:active {
        color: #fff;
        background-color: rgba(0,0,0,0.7);
    }

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

    .btn-light:hover,
    .btn-light:focus,
    .btn-light:active {
        color: #333;
        background-color: rgba(255,255,255,0.8);
    }

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/Main/welcome-1920-1200.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Services */

#services-h1 {
    margin-top: 80px;
    font-size: 50px;
}

.service-p {
    font-size: 22px;
    margin: 0px;
}

.service-items {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    .service-item {
        margin: 10px;
    }
}

/* Callout */
.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/Main/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.portfolio-item:hover .img-portfolio {
    opacity: 0.4;
}

.overlay-button {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.overlay-button-text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.portfolio-item:hover .overlay-button {
    opacity: 1;
}
/* Call to Action */
.call-to-action {
    padding: 50px 0;
}

    .call-to-action .btn {
        margin: 10px;
    }

/* Map */
.map {
    height: 310px;
}

@media(max-width:768px) {
    .map {
        /*height: 75%;*/
    }
}

#to-top-div {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    opacity: 0.2;
}

.to-top-div :hover {
    opacity: 1.0;
}

/* Footer */

footer {
    padding: 25px;
    background-color: #0e0e0e;
    color: #e1e1e1;
}

.footer-hr {
    width: 200px;
}
